<template id="conversation">
    <section>
        <div v-if="$root.state.admin || <%= !prod %>" class="meta">{{convo.id}}</div>
        <div class="reply-controls">
            <!-- TODO autofocus -->
            <textarea v-model="replyText" :disabled="sending" cols="50" rows="3" @paste="paste" :placeholder="$root.texts.inputMessage"></textarea>
            <div v-if="attachment">
                <Attachment new-message :attachment="attachment" :sending="sending" @remove="removeAttachment"></Attachment>
            </div>
            <div v-else-if="serializing">
                <span class="attachment-description">{{$root.texts.infoAttaching}}...</span>
            </div>
            <div v-else>
                <label><span class="attachment-description">{{$root.texts.labelAttachment}}</span> <input type="file" @change="fileInputChange" :disabled="sending"></label>
            </div>
            <div>
                <button @click="reply" :disabled="replyBlocked">{{$root.texts.btnSend}}</button>
                <span v-if="sending" class="sending-indicator">{{$root.texts.infoSending}}...</span>
            </div>
        </div>
        <!-- TODO sorting. to allow seamless reading flow from old-to-new and new-to-old -->
        <div class="entries">
            <div class="entry" v-for="entry in entriesLatestFirst" :key="entry.nonce">
                <div class="meta"><strong>{{$root.isSelf(entry) ? 'Me' : sender(entry)}}</strong> at
                    <span class="msg-timestamp" @click="timestampFormatUTC = !timestampFormatUTC">
                        <template v-if="timestampFormatUTC">{{toUTCString(entry.time)}}</template>
                        <template v-else>{{toLocalTime(entry.time)}}</template>
                    </span>
                </div>
                <div class="message" :class="{ self: $root.isSelf(entry), isLarge: !!entry.largeMsg }">
                    <template v-if="entry.largeMsg">
                        <div>({{$root.texts.labelLargeMessage}})
                            <span v-if="downloadingLargeMsg">{{$root.texts.infoDownloading}}...</span>
                            <button v-else @click="downloadLargeMessage(entry)">{{$root.texts.btnDownload}} ({{entry.largeMsg}})</button>
                        </div>
                    </template>
                    <template v-else>
                        <div>{{entry.msg}}</div>
                        <Attachment v-if="entry.attachment" :attachment="entry.attachment" @download="download(entry.attachment)"></Attachment>
                    </template>
                </div>
            </div>
        </div>
    </section>
</template>

<template id="attachment">
    <div v-if="isImage">
        <a :href="objectURL" target="_blank">
            <img class="attachment" :src="objectURL" :alt="attachment.name">
        </a>
    </div>
    <div class="attachment-controls">
        <span class="attachment-description">
            <template v-if="isImage">{{attachment.name}}, {{size}} kB</template>
            <template v-else        ><a :href="objectURL" target="_blank">{{attachment.name}}</a>, {{size}} kB</template>
        </span>

        <button v-if="newMessage" @click="$emit(`remove`)" :disabled="sending">X</button>
        <button v-else            @click="$emit(`download`)" :disabled="sending">{{$root.texts.btnDownload}}</button>
    </div>
</template>
