<template id="conversation">
    <section>
        <div class="meta">{{convo.id}}</div>
        <div class="reply-controls">
            <!-- TODO autofocus -->
            <textarea v-model="replyText" cols="50" rows="3"></textarea>
            <button @click="reply" :disabled="replyText.length === 0">Send</button>
        </div>
        <!-- TODO sorting. to allow seamless reading flow from old-to-new and new-to-old -->
        <div class="entries">
            <div class="entry" v-for="({ name, time, msg }) in convo.entries">
                <div class="meta"><strong>{{$root.isSelf(name) ? 'Me' : name}}</strong> at {{toUTCString(time)}}</div>
                <div class="message" :class="{ self: $root.isSelf(name) }">{{msg}}</div>
            </div>
        </div>
    </section>
</template>
