<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title %></title>

  <style>
    .entry {
      margin: 1em 0;
    }
    .meta {
      font-size: .8rem;
    }
    .message {
      white-space: pre-wrap;
    }
  </style>
  <script src="/lib/sodium-plus.js"></script>
  <script src="/lib/vue.global.js"></script>
</head>

<body>
<h1><%= title %> page</h1>

<%- include("components/_conversation"); %>

<%- include(subpage); %>

</body>
</html>
