<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        .row {
            margin-bottom: 1em;
        }
        .entries {
            min-width: 400px;
        }
        .entry {
            margin: 1em 0;
            word-break: break-word;
        }
        .meta {
            font-size: .8rem;
            color: #444;
        }
        .reply-controls textarea {
            box-sizing: border-box;
            max-width: 100%;
        }
        .message {
            white-space: pre-wrap;
            display: inline-block;
            padding: .2em .5em;
            border-radius: 2px;
            background-color: #bbc;
        }
        .message.self {
            background-color: #ddc;
        }
        section:nth-of-type(2n) {
            background-color: #eee;
        }

        .conversation-picker {
            width: 15em;
            border: 1px solid #000;
            box-sizing: border-box;
            font-family: sans-serif;
        }
        .conversation-picker .convo-item {
            position: relative;
            display: flex;
            height: 3em;
            cursor: pointer;
        }
        .conversation-picker .convo-item:hover {
            background-color: #ddc;
        }
        .conversation-picker .convo-item:not(:last-child) {
            border-bottom: 1px solid #000;
        }
        .conversation-picker .convo-item.selected {
            background-color: #0ff;
        }
        .conversation-picker .convo-item.selected:hover {
            background-color: #2dd;
        }
        .convo-item .avatar {
            height: 2.5em;
            width: 2.5em;
            flex-shrink: 0;
            flex-grow: 0;
            box-sizing: border-box;
            margin: .25em;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-shadow: 1px 1px #fff;
            /* Background color depends on convo ID and must be applied dynamically in HTML */
        }
        .convo-item .convo-preview {
            overflow: hidden;
            margin-right: .4em;
            flex-grow: 1;
        }
        .convo-preview .convo-partner {
            margin: .4em 0;
            font-size: .9em;
        }
        .convo-preview .last-message {
            font-size: .7em;
            font-style: italic;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        .convo-item .convo-date {
            position: absolute;
            right: 0;
            padding: .4em;
            font-size: .8em;
            font-style: italic;
        }
    </style>
    <script src="/lib/sodium-plus.js"></script>
    <script src="/lib/vue.global.js"></script>
</head>

<body>
<h1>Contact form</h1>
<div>For: <%= tenant %></div>

<div id="app">
    <template v-if="currentPage === 'login'">
        <h2>Login</h2>

<!--        <form @submit.prevent="login">-->
        <form v-if="loginStep === 0" @submit.prevent="toCaptcha">
            <div>
                <input type="text" v-model="name" placeholder="Your name" required autofocus>  <!-- TODO maybe minlength -->
            </div>
            <div class="row">
                <input :type="pwType" v-model="pw" placeholder="Passphrase" required>  <!-- TODO minlength -->
                <button type="button" @click="togglePw">{{pwBtnText}}</button>
            </div>
            <button type="submit">Next</button>
        </form>

        <form v-if="loginStep === 1" @submit.prevent="login">
            <div>Calculate:</div>
            <div class="row">
                <img src="/captcha" alt="Captcha" width="150" height="50" ref="imgCaptcha">
                <span> = </span>
                <input type="text" v-model="captcha" ref="inpCaptcha" placeholder="Result" required>
            </div>
            <button type="submit">Log in</button>
        </form>

    </template>

    <template v-if="currentPage === 'login-captcha'">
    </template>

    <template v-if="currentPage === 'messages' && admin">
        <h2>ADMIN PAGE</h2>
        <button @click="getMessages">Refresh</button>
        <div>
            <Conversation-Picker :convos="convos" @selection-changed="convoChanged"></Conversation-Picker>
            <main>
                <Conversation v-if="selectedConvo" :convo="selectedConvo" @reply="sendResponse"></Conversation>
            </main>
        </div>
    </template>

    <template v-if="currentPage === 'messages' && !admin">
        <h2>Messages</h2>
        <p>Hello {{name}}</p>
        <button @click="getMessages">Refresh</button>

        <!-- threads, email style -->
        <template v-for="convo in convos" :key="convo.id">
            <hr>
            <Conversation :convo="convo" @reply="sendResponse"></Conversation>
        </template>
    </template>
</div>


<%- include("components/_conversation"); %>
<%- include("components/_conversation-picker"); %>

<script type="module">
    // TODO rename file
    import { init } from "./app.js";

    init(`<%= csrf %>`);
</script>



</body>
</html>
