<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Form - Tenant Setup</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="/lib/sodium-plus.js"></script>
</head>

<body>

<p>Setup new tenant '<%= tenant %>'</p>

<form method="post">
    <input type="text" name="name" placeholder="Your name" required autofocus>
    <input type="password" name="pw" placeholder="Passphrase" required>
    <input type="submit" value="Create tenant">
</form>

<script type="module">
    const sodium = await SodiumPlus.auto();

    document.querySelector(`form`).addEventListener(`submit`, async e => {
        e.preventDefault();

        const form = e.target;

        const name = form.name.value;
        const pw = form.pw.value;

        if (!name || !pw) {
            return alert(`Both 'name' and 'passphrase' are required.`);
        }

        const keys = await userKeys(name, pw);

        const res = await fetch(``, {
            method: `post`,
            credentials: `include`,
            headers: {
                "csrf": `<%= csrfToken %>`,
                "Content-Type": `application/json`,
                "sid": `<%= sid %>`,
            },
            body: JSON.stringify({ pk: keys.clientPublic.toString(`hex`) }),
        });

        window.location.href = await res.text();
    });


    // TODO this routine is used in app.js, too. Centralise.
    async function userKeys(name, pw) {
        const encoder = new TextEncoder();

        const seed = encoder.encode(JSON.stringify({
            name: name.trim().toLowerCase(),
            pw,
        }));
        const clientKeyPair = await sodium.crypto_kx_seed_keypair(seed);
        const clientPublic = await sodium.crypto_box_publickey(clientKeyPair);
        const clientSecret = await sodium.crypto_box_secretkey(clientKeyPair);

        return {
            clientKeyPair,
            clientPublic,
            clientSecret,
        };
    }
</script>

</body>
</html>
